@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.txt-xl {
    font-family: Libre Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 57px;
    line-height: 110%;
    text-transform: capitalize;
    color: #343D33;
}

.txt-body-l {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 150%;
    text-transform: capitalize;
    color: #414840;
}